body {
  background: #DDDDDD;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
}

#canvas{
  //width: 100%;
  //height: 100%;
  //border: 2px solid green;
  background: white;
}


#main {
  //width: 100%;
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
}

#canvas-layout {
  //width: 100%;
  display: flex;
  justify-content: center;
  background: #CCCCCC;
}


#details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#author {
  color:  #202020;
}