body {
  background: #DDDDDD;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
}

#canvas{
  background: white;
}


#main {
  //width: 100%;
  //border: 2px solid purple;
  display: flex;
  flex-direction: column;
}

#canvas-layout {
  //width: 100%;
  display: flex;
  justify-content: center;
  background: #CCCCCC;
}


#details {
  //border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  #details {
    flex-direction: column;
    justify-content: flex-start;
  }
}

#author {
  color:  #202020;
}

select {
  font-family: 'Libre Franklin';
  font-size: 16px;
  border-radius: 6px;
}

option {
  font-style: italic;
}